body {
    font-family: sans-serif;
    color: #636363;
    background: #567258;
}

.custom-border {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #263F20;
}

.card {
    background-color: #D1E5CC;
    min-width: 315px;
    max-width: 800px;
}